<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a123456.myapplication_050902">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo3"
        android:label="健康出行"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyFragment1_heart_history"/>
        <activity android:name=".MyFragment1_weight_history"/>
        <activity android:name=".MyFragment1_bloodpress_history"/>
        <activity android:name=".MyFragment1_temperature_history"/>
        <activity android:name=".MyFragment1_bloodfat_history"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".F4_about" />
        <activity android:name=".F4_suggestion"></activity>
    </application>

</manifest>